/* .content-cryptomarket {
    height: 85vh;
} */

.table-father {
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding: 1rem 0;
}

.btn-table:last-child {
    margin-left: 1rem;
    margin-right: 1rem;
}

.historic-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1rem;
}

.selector {
    /* max-width: 20rem; */
    /* margin: 0 1rem 0 0; */
    text-align-last: center;
}

strong {
    margin: 0 1rem 0 1rem;
}

.btn-apply {
    margin: 0 1rem;
}

#app {
    background: #eaeaea;
}

.navbar {
    background: #f6f6f6;
}

.footer {
    background: #f6f6f6;
}

.table>thead>tr>th {
    background-color: #f6f6f6;
}

.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #fcfcfc;
}

.table-striped>tbody>tr:nth-child(even)>td {
    background-color: #f6f6f6;
}

.main {
    display: flex;
    flex-direction: row;
    
    height: 100%;
}

.main:last-child {
    margin-left: 2rem;
}

.options {
    height: auto;
    /* margin-left: 0.5rem; */
    display: flex;
    flex-direction: column;
}

.options > button {
    justify-self: flex-end;
}

.options > * {
    margin: 0.5rem 0;
}

.options > h4 {
    align-self: center;
}

.chart {
    margin-left: 1rem;
}

.type {
    display: flex;
}

.type > button {
    max-width: 6rem;
    margin: 0 0.5rem;
}

.dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.dates > span {
    display: flex;
    margin-bottom: 0.5rem;
}

.dates > span > div {
    width: 12rem;
    margin-left: 0.5rem;
}

.i-data {
    display: flex;
    flex-direction: column;
}

#creditos {
    display: flex;
    flex-direction: row;
}

#creditos-input {
    max-width: 8rem;
}

.content-investment {
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
    margin-left: 1rem;
}

.investment-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.investment-top > h6 {
    margin: 1rem;
}

.investment-top > button {
    margin: 1rem;
}